* {
    font-family: 'Roboto';
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.2px;
    letter-spacing: 1.9px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

    @media screen and (max-width: 992px) {
        font-size: 14px;
        letter-spacing: 1.4px;
        line-height: normal;
    }
}

.container {
    max-width: 1085px;
    margin: 0 0 0 142px;

    @media screen and (max-width: 992px) {
        max-width: 564px;
        margin: 0 32px;
    }

    @media screen and (max-width: 540px) {
        max-width: 480px;
        margin: 0 32px;
    }
}