.section{
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    display: flex;
    background-image: url(../img/bgc-image.png);
    
    @media screen and (max-width: 992px) {
        max-width: 992px;
        height: auto;
        background-image: url(../img/bgc-image992.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        
        @media screen and (max-width: 540px) {
            max-width: 542px;
            height: auto; 
            // background-image: url(../img/bgc-image992.png);
            // background-position: 50% 50%;
            // background-repeat: no-repeat;
            // background-size: cover;
        }
    }

    &__header {
        padding-left: 2px;
        padding-top: 113px;
        margin-bottom: 64px;

        @media screen and (max-width: 992px) {
            padding-top: 48px;
            margin-bottom: 24px;
            padding-left: 0;
            
            @media screen and (max-width: 540px) {
                padding-top: 48px;
                margin-bottom: 32px;
                padding-left: 0;
            }
        }
        
    }

    .section-text {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 3.2px;
    }
    
    &__about {

        margin-bottom: 26px;
        
        @media screen and (max-width: 992px) {
            margin-bottom: 12px;
            
            @media screen and (max-width: 540px) {
                margin-bottom: 12px;
                text-align: center;
            }
        }
    }

    &__text {

        margin-bottom: 62px;

        @media screen and (max-width: 992px) {
            margin-bottom: 24px;
            
            @media screen and (max-width: 540px) {
                margin-bottom: 32px;
                text-align: justify;
            }
        }

        &-article{
            text-indent: 20px;
            margin-bottom: 0;
        }

        &-double{
            text-indent: 26px; 
        }
    }

    &__products {
        margin-bottom: 27px;
        
        @media screen and (max-width: 992px) {
            margin-bottom: 12px;
            @media screen and (max-width: 992px) {
                margin-bottom: 12px;
                text-align: center;
            }
        }
    }

    &-nav {

        ul {

            display: flex;
            margin-bottom: 64px;
            flex-wrap: wrap;
            gap: 12px;
            
            @media screen and (max-width: 992px) {
                margin-bottom: 24px;
                
                @media screen and (max-width: 540px) {
                    margin-bottom: 32px;
                    justify-content: center;
                }
            }
            
            .navigation {
                padding: 10px 22px;
                border: 2px solid #fff;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                
                &:hover {
                    border-color: #6AECF8;
                    background-color: #4FB5C0;
                }
                a {
                    text-transform: uppercase;
                    font-size: 15px;
                    text-shadow: none;
                }
            }
        }
    }

    &__contact {
        margin-bottom: 24px;
        
        @media screen and (max-width: 992px) {
            margin-bottom: 12px;
            
            @media screen and (max-width: 992px) {
                margin-bottom: 12px;
                text-align: center;
            }
        }
    }

    &-form {

        &__input {
            margin-bottom: 12px;

            @media screen and (max-width: 540px) {
                display: flex;
                flex-direction: column;
                width: 442px;
                gap: 12px;
            }

            &-family {
                width: 291px;
                height: 48px;
                background-color: #fff;
                color: black;
                text-shadow: none;
                font-size: 18px;
                font-variant: all-small-caps;
                letter-spacing: 1.8px;
                padding: 12px 80px 11px 14px;
                
                &:not(:last-child){
                    margin-right: 7px;                                 
                }
                
                @media screen and (max-width: 992px) {
                    width: 275px;
                    font-size: 14px;
                    
                    @media screen and (max-width: 992px) {
                        width: 477px;
                        font-size: 14px;
                    }
                }
            }
        }
        
        &__textarea{

            margin-bottom: 8px;

            @media screen and (max-width: 992px) {
                margin: 0;
                display: inline-block;
                
                @media screen and (max-width: 992px) {
                    width: 477px;
                    margin: 0;
                    display: inline-block;
                }
            }
            
            textarea {
                min-width: 596px;
                min-height: 108px;
                background-color: #fff;
                resize: none;
                text-shadow: none;
                padding: 31px 13px;
                text-transform: capitalize;
                color: black;
                
                @media screen and (max-width: 992px) {
                    min-width: 442px;
                    min-height: 68px;
                    font-size: 14px;
                    padding: 0;
                    
                    &::placeholder{
                        color: transparent;
                    }
                    
                    @media screen and (max-width: 540px) {
                        width: 100%;
                        min-height: 68px;
                        font-size: 14px;
                        padding: 0;
                    }
                }
            }
        }

        &__submit {
            padding: 13px 24px;
            border: 1px solid #fff;
            font-size: 15px;
            letter-spacing: 2px;

            @media screen and (max-width: 992px) {
                width: 110px;
                height: 68px;
                display: inline-block;
                padding: 0;
            }
        }
    }

    .picture {
        width: 744px;
        background-image: url(../img/dude.png);
        background-repeat: no-repeat;
        background-position: 110px 180px;
        
        @media screen and (max-width: 992px) {
            background-image: url(../img/man-mini.png);
            background-repeat: no-repeat;
            background-position: 10px 140px;
            
            @media screen and (max-width: 540px) {
                background-image: none;
            }
        }
    }
}

.form__fieldset-group {
    
    @media screen and (max-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        :not(:last-child){
            margin-right: 10px;
        }

        @media screen and (max-width: 540px) {
            gap: 12px;
            justify-content: center;

            button {
                width: 184px;
                height: 48px;
                font-size: 16px;
                padding: 4px 11px;
                margin-bottom: 32px;
            }

            &::after{
                content: '';
                width: 390px;
                height: 600px;
                background-image: url(../img/man-mini.png);
                background-repeat: no-repeat;
                
            }
        }
    }
}